@import "../../styles/config/Variable";
@import "../../styles/common.scss";

.tableWidth {
  width: 100%;
}

.SearchBox {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}
